.main{
    width: 100vw;
    height: 100vh;
    background-size: 100% 100%;
    position: relative;
    /* background-image: url('https://mp-6b079a52-c210-4fb9-8fd6-cdb007ef4931.cdn.bspapp.com/cloudstorage/f2fdbaec-4529-4e10-8d26-d4ac867254c8.jpg'); */
    
    .loginView{
        position: absolute;
        left: 50%;
        top: 50%;
        width: 20%;
        transform: translate(-50%, -50%);
        .title{
            color: white;
            font-size: 32px;
            text-align: center;
            margin-bottom: 30px;
        }
    }
}

:deep(.el-input__wrapper){
    background: none;
    border-radius: 14px;
    height: 48px;
    box-sizing: border-box;
}
:deep(.el-input__inner){
    color: white;
}
:deep(.el-button){
    width: 100%;
    height: 52px;
    border-radius: 18px;
    font-weight: 600;
    font-size: 18px;
}